---
import Layout from "@/layouts/Layout.astro";
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";

import taBien from "@/media/images/ta-bien.png";
import taMal from "@/media/images/ta-mal.jpg";
import taMaomeno from "@/media/images/ta-maomeno.jpg";
---

<Layout title="404" description="not found" lang="es">
  <div
    class="min-h-screen flex flex-col justify-center items-center dark:bg-[#1d232a] bg-white gap-4 dark:text-[#a6adba]"
  >
    <a href="/wp-admin">
      <picture>
        <Image src={taBien} alt="tabien" class="hidden" width={400} />
        <Image src={taMal} alt="tamal" class="hidden" width={400} />
        <Image src={taMaomeno} alt="tamaomeno" class="hidden" />
      </picture>
    </a>
    <span class="text-6xl italic font-light text-center"
      ><span class="text-blue-500">404</span> NOT FOUND</span
    >
    <button id="back">
      <Icon
        name="maki:arrow"
        class="h-8 w-8 text-blue-500 rotate-180 hover:-translate-x-4 transition-all duration-300 hover:scale-125"
      />
    </button>
  </div>
</Layout>

<script>
  const $backButton = document.querySelector("#back") as HTMLButtonElement;

  $backButton.addEventListener("click", () => {
    window.history.back();
  });

  const randomN = Math.random();

  if (randomN < 0.49) {
    document.querySelector('img[alt="tabien"]')?.classList.remove("hidden");
  } else if (randomN > 0.51) {
    document.querySelector('img[alt="tamal"]')?.classList.remove("hidden");
  } else {
    document.querySelector('img[alt="tamaomeno"]')?.classList.remove("hidden");
  }
</script>
