<footer class="w-full dark:bg-main-color dark:text-white p-8 relative">
    <div class="absolute top-0 left-0 w-full flex justify-center">
        <span
            class="dark:bg-white scale-x-0 bg-black w-full h-[1px]"
            id="spawnbar-footer"></span>
    </div>
    <div class="lg:w-[840px] w-full m-auto">
        <span class="text-gray-500 italic font-semibold">
            © Todos los derechos reservados | 2023
        </span>
    </div>
</footer>

<style>
    @keyframes spawnBar {
        0% {
            transform: scaleX(0);
        }
        100% {
            transform: scaleX(1);
        }
    }
</style>

<script>
    const observer = new IntersectionObserver((entries, observer) => {
        entries.forEach((entry) => {
            if (entry.isIntersecting) {
                entry.target.classList.add("animate-[spawnBar_1s_ease-in-out]");
                entry.target.classList.remove("scale-x-0")
                observer.unobserve(entry.target);
            }
        });
    });

    const elementToAnimate = document.querySelector(
        "#spawnbar-footer",
    ) as Element;
    observer.observe(elementToAnimate);
</script>
