---
import { Icon } from "astro-icon";
import { navigationMenu } from "@/data/common.ts";
---

<header
    class="backdrop-blur fixed justify-center w-screen flex py-8 dark:text-[#a6adba] z-50"
>
    <nav class="flex justify-between w-[840px] lg:px-0 px-2">
        <h2>
            <a href="/" aria-label="Pagina principal"
                ><Icon
                    name="JL"
                    class="lg:h-12 lg:w-12 w-10 h-10 dark:fill-white lg:ml-0 ml-4 fill-black"
                /></a
            >
        </h2>
        <ul
            class="flex gap-5 font-bold items-center hover:[&>li]:transition-all [&>li]:transition [&>li]:duration-300 hover:[&>li]:duration-300 dark:hover:[&>li]:text-alt-text hover:[&>li]:text-blue-400"
        >
            {
                navigationMenu.map((item) => (
                    <li>
                        <a href={item.path}>{item.text}</a>
                    </li>
                ))
            }
            <li class="w-6 h-6">
                <button id="theme-changer" class="w-6 h-6" aria-label="Cambiar tema">
                    <Icon name="ph:sun" />
                    <Icon name="ph:moon" />
                </button>
            </li>
        </ul>
    </nav>
</header>

<script is:inline>
const $themeButton = document.querySelector("#theme-changer");
const $sunSvg = document.querySelector('svg[astro-icon="ph:sun"]');
const $moonSvg = document.querySelector('svg[astro-icon="ph:moon"]');

function updateButton() {
    if (localStorage.theme === "light") {
        $sunSvg.classList.remove("hidden");
        $moonSvg.classList.add("hidden");
    } else {
        $sunSvg.classList.add("hidden");
        $moonSvg.classList.remove("hidden");
    }
}

updateButton();

$themeButton?.addEventListener("click", () => {
    if (localStorage.theme === "light") {
        document.documentElement.classList.add("dark");
        localStorage.theme = "dark";
    } else {
        document.documentElement.classList.remove("dark");
        localStorage.theme = "light";
    }
    updateButton();
});
</script>
