---
import { Icon } from "astro-icon";
import ThemeButton from "./ThemeButton.astro";
---

<header
  class="w-full fixed p-2 flex justify-center dark:text-dark-title shadow z-50 dark:bg-dark-main bg-light-main transition duration-800"
>
  <div class="flex w-[840px] justify-between items-center">
    <Icon name="JL" class="h-12 w-12 dark:fill-white fill-black" />
    <div class="flex items-center justify-center gap-8">
      <nav
        class="p-1 grid grid-cols-3 [&_a]:self-stretch gap-4 dark:hover:[&_a]:bg-white/5 hover:[&_a]:bg-black/5  hover:[&_a]:transition-all [&_a]:p-1 [&_a]:rounded [&_a]:text-center"
      >
        <a href="/">Portfolio</a>
        <a href="/blog">Blog</a>
        <a href="/contacto">Contacto</a>
      </nav>
      <ThemeButton />
    </div>
  </div>
</header>

<style>
  html {
    scroll-padding-top: 104.5px;
  }
</style>
