<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Onlyfans</title>
  </head>
  <body>
    <video class="w-screen h-screen bg-black" autoplay loop muted>
      <source src="/rickroll.webm" type="video/webm" />
    </video>
    <script is:inline>
      const $video = document.querySelector("video");
      $video.addEventListener("play", () => {
        setTimeout(() => {
          $video.muted = false;
        }, 1000);
      });
    </script>
  </body>
</html>
