---
import { Icon } from "astro-icon";
---

<button id="theme-changer" class="w-6 h-6" aria-label="Cambiar tema">
    <Icon name="ph:sun" />
    <Icon name="ph:moon" class="hidden" />
</button>

<script is:inline>
    function themeHandler() {
        const $themeButton = document.querySelector("#theme-changer");
        const $sunSvg = document.querySelector('svg[astro-icon="ph:sun"]');
        const $moonSvg = document.querySelector('svg[astro-icon="ph:moon"]');

        const updateMode = () => {
            if (!localStorage.theme || localStorage.theme === "dark") {
                localStorage.theme = "light";
                document.documentElement.classList.remove("dark");
                $sunSvg.classList.remove("hidden");
                $moonSvg.classList.add("hidden");
            } else {
                localStorage.theme = "dark";
                document.documentElement.classList.add("dark");
                $sunSvg.classList.add("hidden");
                $moonSvg.classList.remove("hidden");
            }
        };

        if (
            localStorage.theme === "dark" ||
            (!("theme" in localStorage) &&
                window.matchMedia("(prefers-color-scheme: dark)").matches)
        ) {
            localStorage.theme = "dark";
            document.documentElement.classList.add("dark");
            $sunSvg.classList.add("hidden");
            $moonSvg.classList.remove("hidden");
        } else {
            localStorage.theme = "light";
            document.documentElement.classList.remove("dark");
            $sunSvg.classList.remove("hidden");
            $moonSvg.classList.add("hidden");
        }

        $themeButton.addEventListener("click", () => {
            updateMode();
        });
    }

    themeHandler();

    document.addEventListener("astro:after-swap", () => {
        themeHandler();
    });
</script>
