---
import { Icon } from "astro-icon/components";
---

<button id="theme-changer" class="w-6 h-6 flex" aria-label="Cambiar tema">
  <Icon name="ph:sun" class="h-auto w-full animate-[sun-spin_.2s_ease-out]" />
  <Icon
    name="ph:moon"
    class="hidden h-auto w-full animate-[moon-spin_.2s_ease-in-out]"
  />
</button>

<script is:inline>
  const $themeButton = document.querySelector("#theme-changer");
  const $sunSvg = document.querySelector('svg[data-icon="ph:sun"]');
  const $moonSvg = document.querySelector('svg[data-icon="ph:moon"]');

  function updateButton() {
    if (localStorage.theme === "light") {
      $sunSvg.classList.remove("hidden");
      $moonSvg.classList.add("hidden");
    } else {
      $sunSvg.classList.add("hidden");
      $moonSvg.classList.remove("hidden");
    }
  }

  $themeButton?.addEventListener("click", () => {
    if (localStorage.theme === "light") {
      document.documentElement.classList.add("dark");
      localStorage.theme = "dark";
    } else {
      document.documentElement.classList.remove("dark");
      localStorage.theme = "light";
    }
    updateButton();
  });

  updateButton();
</script>

<style>
  @keyframes sun-spin {
    to {
      transform: rotate(80deg);
    }
  }

  @keyframes moon-spin {
    from {
      transform: rotate(-120deg);
    }
  }
</style>
